{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus itaque nobis, ullam culpa, neque quae minima odit dignissimos porro consequatur, voluptatem maxime laboriosam. Provident nobis culpa nisi repudiandae sint error dicta, nulla ipsa iste aut recusandae earum reiciendis? Dolores magnam tempore, laboriosam dolor quo in autem sequi, dicta magni quidem inventore recusandae assumenda cum soluta porro, laudantium quos explicabo quaerat at vero pariatur. Saepe, aspernatur corrupti, exercitationem placeat consequatur quidem omnis dolore doloribus quisquam iste, vel quam facere iusto? Perspiciatis deserunt qui nisi ducimus obcaecati vel nostrum explicabo repudiandae eius, placeat officiis! Amet esse vero facilis, itaque beatae reprehenderit!</p>

{% endblock %}
